// COULEURS
$couleur_1: #EAAE0B; //JAUNE
$couleur_2: #761F32; //ROUGE
$couleur_3: #303030; //GRIS FOOTER
$couleur_4: #F6F6F6; //BG CONTAINER
$couleur_5: #E7E7E7; //BG CARDS

// TEXTE
$font_h1: 'Cormorant Garamond',
serif;
$font_titre_sct: 'Montserrat',
sans-serif;
$font_paragraphe: 'Cormorant Garamond',
serif;